.user-info {
    @include basic-padding;
    .logout {
        position: absolute;
        height: rem(25px);
        top: rem(40px);
        left: rem(86px);
    }
    .grid {
        grid-template-columns: 50% 50%;
        .data {
            .field {
                color: $clr5;
                margin-bottom: rem(2px);
            }
        }
    }
    .user {
        & > div {
            margin-bottom: rem(50px);
            h2 {
                margin-bottom: rem(20px);
            }
        }
        .data {
            margin-bottom: rem(15px);
            p {
                word-wrap: break-word;
            }
        } 
    }
    .businesses {
        width: 100%;
        padding-top: rem(50px);
        border-top: rem(2px) solid lighten($clr5, 40%);
        h2 {
            margin-bottom: rem(30px);
        }
        .business {
            align-items: center;
            margin-bottom: rem(30px);
        }
        .title {
            padding-left: rem(40px);
            img {
                border: rem(2px) solid lighten($clr5, 40%);
                background-color: $clr4;
                border-radius: 50%;
                width: rem(100px);
                height: rem(100px);
                object-fit: contain;
                margin-left: rem(30px);
            }
        }
        .data {
            width: rem(200px);
        }
    }
    @media (max-width: $break-med) {
        .logout {
            left: rem(38px);
        }
        .businesses .business {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .title {
                margin-bottom: rem(30px);
                img {
                    margin-left: rem(20px);
                }
            }
            .data {
                width: rem(200px);
            }
        }
    }
    @media (max-width: 800px) {
        .user {
            & > div:nth-child(2) {
                padding-right: rem(40px);
            }
        }
    }
    @media (max-width: $break-narrow) {
        .user {
            display: flex;
            flex-direction: column;
            & > div {
                margin-bottom: rem(35px);
                &:not(:first-child) {
                    padding-top: rem(50px);
                    border-top: rem(2px) solid lighten($clr5, 40%);
                }
                &:nth-child(2) {
                    padding-right: 0;
                }
            }
        }
        .businesses .business {
            .title {
                flex-direction: column;
                img {
                    margin-bottom: rem(10px);
                }
            }
            .data {
                margin-bottom: rem(15px);
            }
        }
    }
}
