.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.space-around {
    justify-content: space-around;
}

.bold {
    font-family: Spartan-Bold;
}

.semi {
    font-family: Spartan-Semi;
}